@using web.Store
<article class="no-padding l12 m12 l m">
    <div class="row no-space">
        <div class="center-align middle-align small-width small-height">
            @if (string.IsNullOrEmpty(Plant.ImageUrl))
            {
                <form hx-post="/api/plants/@Plant.Id/upload" hx-trigger="change" hx-encoding="multipart/form-data">
                    <button class="square round extra fill">
                        <i>add_photo_alternate</i>
                        <input name="image" type="file" accept="image/png, image/jpeg">
                    </button>
                </form>
            }
            else
            {
                <img class="responsive small-round" src="@Plant.ImageUrl" alt="@Plant.Name" data-ui="#plant-@Plant.Id"/>
                <div class="absolute right top l m small-padding">
                    <form hx-post="/api/plants/@Plant.Id/upload" hx-trigger="change" hx-encoding="multipart/form-data">
                        <button class="small secondary square round no-margin">
                            <i class="small">photo_camera</i>
                            <input name="image" type="file" accept="image/png, image/jpeg">
                        </button>
                    </form>
                </div>
            }
        </div>
        <div class="large-padding max row top-align">
            <div class="row max vertical top-align">
                <div class="row horizontal">
                    <h6 class="">@Plant.Name</h6>
                    @if (PlantMeasurement == null)
                    {
                        <div class="max"></div>
                    }
                    <button class="transparent circle">
                        <i>monitoring</i>
                    </button>
                    <button class="transparent circle">
                        <i>settings</i>
                        <menu class="left no-wrap">
                            <li>
                                <i>edit</i>
                                <span>Edit</span>
                            </li>
                            <li hx-delete="/api/plants/@Plant.Id">
                                <i>delete</i>
                                <span>Delete</span>
                            </li>
                        </menu>
                    </button>
                </div>
            </div>
            @if (_sensorPlant != null && _sensorMeasurement != null)
            {
                <div class="medium-space"></div>
                <div class="row" style="height: 10rem">
                    <SensorMeter IconTop="humidity_high" IconBottom="humidity_low"
                                 Value="@_sensorMeasurement.Items["Humidity"]"
                                 Max="100" Color="blue-text"/>
                    <SensorMeter IconTop="brightness_7" IconBottom="brightness_5"
                                 Value="@_sensorMeasurement.Items["Light"]"
                                 Max="100" Color="yellow-text"/>
                    <SensorMeter IconTop="heat" IconBottom="ac_unit" Value="@_sensorMeasurement.Items["Temperature"]"
                                 Max="100"
                                 Color="orange-text"/>
                    <SensorMeter IconTop="water_do" IconBottom="salinity" Value="@_sensorMeasurement.Items["Fertility"]"
                                 Max="100"
                                 Color="green-text"/>
                </div>
            }
        </div>
    </div>
</article>
<article class="s12 s no-padding">
    <div class="center-align middle-align small-height">
        @if (string.IsNullOrEmpty(Plant.ImageUrl))
        {
            <form hx-post="/api/plants/@Plant.Id/upload" hx-trigger="change" hx-encoding="multipart/form-data">
                <button class="square round extra fill">
                    <i>add_photo_alternate</i>
                    <input name="image" type="file" accept="image/png, image/jpeg">
                </button>
            </form>
        }
        else
        {
            <img class="responsive small-round" src="@Plant.ImageUrl" alt="@Plant.Name" data-ui="#plant-@Plant.Id"/>
            <div class="absolute right top s small-padding">
                <form hx-post="/api/plants/@Plant.Id/upload" hx-trigger="change" hx-encoding="multipart/form-data"
                      class="no-padding">
                    <button class="small secondary square round no-margin">
                        <i class="small">photo_camera</i>
                        <input name="image" type="file" accept="image/png, image/jpeg">
                    </button>
                </form>
            </div>
        }
    </div>
    <div class="large-padding max">
        <div class="row horizontal">
            <h6 class="">@Plant.Name</h6>
            <div class="max"></div>
            <button class="transparent circle">
                <i>monitoring</i>
            </button>
            <button class="transparent circle">
                <i>settings</i>
                <menu class="left no-wrap">
                    <li>
                        <i>edit</i>
                        <span>Edit</span>
                    </li>
                    <li hx-delete="/api/plants/@Plant.Id">
                        <i>delete</i>
                        <span>Delete</span>
                    </li>
                </menu>
            </button>
        </div>
        @if (_sensorPlant != null && _sensorMeasurement != null)
        {
            <div class="medium-space"></div>
            <div class="row" style="height: 10rem">
                <SensorMeter IconTop="humidity_high" IconBottom="humidity_low"
                             Value="@_sensorMeasurement.Items["Humidity"]"
                             Max="100" Color="blue-text"/>
                <SensorMeter IconTop="brightness_7" IconBottom="brightness_5" Value="@_sensorMeasurement.Items["Light"]"
                             Max="100" Color="yellow-text"/>
                <SensorMeter IconTop="heat" IconBottom="ac_unit" Value="@_sensorMeasurement.Items["Temperature"]"
                             Max="100"
                             Color="orange-text"/>
                <SensorMeter IconTop="water_do" IconBottom="salinity" Value="@_sensorMeasurement.Items["Fertility"]"
                             Max="100"
                             Color="green-text"/>
            </div>
        }
    </div>
</article>

<dialog id="plant-@Plant.Id" class="no-padding">
    <img class="responsive small-round" src="@Plant.ImageUrl" alt="@Plant.Name"/>
</dialog>

@code {
    [Parameter, EditorRequired] public required Plant Plant { get; set; }
    [Parameter, EditorRequired] public required PlantMeasurement? PlantMeasurement { get; set; }

    private SensorlessPlant? _manuelPlant;
    private SensorPlant? _sensorPlant;
    private ManuelMeasurement? _manuelMeasurement;
    private SensorMeasurement? _sensorMeasurement;

    protected override void OnParametersSet()
    {
        switch (Plant)
        {
            case SensorPlant sensorPlant:
                _sensorPlant = sensorPlant;
                break;
            case SensorlessPlant manuelPlant:
                _manuelPlant = manuelPlant;
                break;
        }

        switch (PlantMeasurement)
        {
            case SensorMeasurement sensorMeasurement:
                _sensorMeasurement = sensorMeasurement;
                break;
            case ManuelMeasurement manuelMeasurement:
                _manuelMeasurement = manuelMeasurement;
                break;
        }
    }

}